section {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  gap: 60px;
  position: relative;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  font-family: 'Roboto';
}

@media (max-width: 900px) {
  section {
    margin-bottom: 60px;
    gap: 45px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 870px) {
  .title {
    margin-top: 80px;
  }
}

@media (max-width: 600px) {
  section {
    margin-bottom: 40px;
    gap: 30px;
  }

  .title {
    font-size: 24px;
  }
}

.search-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 1300px;
}

.search-filter input {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: 1065px;
  width: 100%;
  height: 62px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  filter: drop-shadow(0px 1px 2px rgba(255, 255, 255, 0.16));
  padding: 0 17px 0 54px;
  background: rgba(38, 38, 38, 1) url('../assets/special-icons/search.png') no-repeat 20px center;
  background-size: 20px;
  color: rgba(144, 161, 185, 1);
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}

.search-filter input::placeholder {
  color: rgba(144, 161, 185, 1);
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
}

.search-filter input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgba(144, 161, 185, 1)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.search-filter button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 62px;
  border-radius: 16px;
  padding: 0 25px;
  background: rgba(38, 38, 38, 1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  filter: drop-shadow(0px 1px 2px rgba(255, 255, 255, 0.16));
}

.filter-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  color: white;
}

.search-filter button img {
  width: 10px;
  height: 5px;
}

@media (max-width: 900px) {
  .search-filter input {
    height: 51px;
    font-size: 18px;
    background-size: 18px;
  }

  .search-filter input::placeholder {
    font-size: 18px;
  }

  .search-filter input::-webkit-search-cancel-button {
    height: 18px;
    width: 18px;
  }

  .search-filter button {
    width: 171px;
    height: 55px;
  }

  .filter-text {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .search-filter {
    flex-direction: column;
    align-items: start;
  }

  .search-filter input {
    height: 40px;
    font-size: 16px;
    background-size: 16px;
  }

  .search-filter input::placeholder {
    font-size: 16px;
  }

  .search-filter input::-webkit-search-cancel-button {
    height: 16px;
    width: 16px;
  }

  .search-filter button {
    width: 142px;
    height: 47px;
    border: none;
  }

  .filter-text {
    font-size: 16px;
  }
}

.cards-container {
  display: grid;
  gap: 60px 32px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1300px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  max-width: 412px;
  width: 100%;
  min-width: 330px;
  height: fit-content;
  border: 1px solid #FFFFFF
}

.card-image {
  background-color: rgba(229, 229, 229, 1);
  width: 100%;
  height: 350px;
  border-radius: 26px 26px 0 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.card-header {
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-header p {
  height: 35px;
  width: 100px;
  border-radius: 18px;
  margin: 0;
  text-align: center;
  align-content: center;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.55px;
  text-transform: uppercase;
}

.card-body {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.surname {
  height: 33px;
  width: fit-content;
  align-content: center;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.name {
  height: 20px;
  width: fit-content;
  align-content: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.academic-title {
  height: 33px;
  width: 100%;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  color: #3853DE;
}

.start-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.start-date-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90px;
}

.start-date img {
  width: 14px;
  height: 14px;
}

.start-date-title-text {
  height: 12px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.date {
  height: 12px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projects-label {
  height: 17px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  text-transform: uppercase;
}

.projects-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.project-item {
  height: 29px;
  background-color: white;
  color: black;
  padding: 0 12px;
  border-radius: 15px;
  align-content: center;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.card-body button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 42px;
  width: 100%;
  background: linear-gradient(180deg, #3853DE 0%, #5B6FE8 100%);
  border-radius: 60px;
  border: none;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.65px;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: 0.3s ease;
}

button .arrow-icon {
  width: 16px;
  height: 16px;
  background-color: white;
  -webkit-mask-image: url('../assets/special-icons/arrow_2.png');
  mask-image: url('../assets/special-icons/arrow_2.png');
  mask-size: contain;
  mask-repeat: no-repeat;
  transition: background-color 0.3s;
}

.card-body button:hover {
  background: none;
  color: #3853DE;
  border: 1px solid #3853DE;
}

.card-body button:hover .arrow-icon {
  background-color: #3853DE;
}

@media (max-width: 1144px) {
  .cards-container {
    max-width: 712px;
    gap: 50px 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 772px) {
  .cards-container {
    max-width: 412px;
    gap: 36px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .card {
    min-width: 200px;
  }

  .card-image {
    height: 310px;
  }

  .card-header p {
    height: 33px;
    width: 91px;
    border-radius: 17px;
  }

  .surname {
    font-size: 22px;
  }

  .name {
    font-size: 12px;
  }

  .academic-title {
    font-size: 10px;
  }

  .project-item {
    font-size: 9px;
  }
}

.pagination,
.pagination-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.pagination button,
.pagination-list button {
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: none;
  padding: 0;
}

.pagination button img {
  width: 16px;
  height: 16px;
}

.pagination-list button {
  font-size: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #F5F5F5;
}

@media (pointer: fine) {
  .pagination button:hover,
  .pagination-list button:hover {
    background-color: rgba(56, 83, 222, 1);
    cursor: pointer;
  }
}

.pagination-list button.active {
  background-color: rgba(56, 83, 222, 1);
}

@media (max-width: 600px) {

  .pagination,
  .pagination-list {
    gap: 6px;
  }

  .pagination button,
  .pagination-list button {
    display: flex;
    width: 23px;
    height: 23px;
    border-radius: 6px;
  }

  .pagination button img {
    width: 12px;
    height: 12px;
  }

  .pagination-list button {
    font-size: 12px;
  }
}

.no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  background: #262626;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 62px 20px;
}

.no-results-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  text-align: center;
  margin: 0;
}

@media (max-width: 900px) {
  .no-results {
    padding: 50px 15px;
  }

  .no-results-text {
    font-size: 20px;
    line-height: 36px;
  }
}

@media (max-width: 600px) {
  .no-results {
    padding: 40px 10px;
  }

  .no-results-text {
    font-size: 16px;
    line-height: 30px;
  }
}