section {
  margin-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  gap: 60px;
  position: relative;
}

/* Title */
.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 30px;
  font-family: 'Roboto';
}

/* Search and filter */
.search-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 1300px;
}

.search-filter input {
  display: flex;
  flex-direction: row;
  align-content: center;
  max-width: 1065px;
  width: 100%;
  height: 62px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  filter: drop-shadow(0px 1px 2px rgba(255, 255, 255, 0.16));
  padding: 0 17px 0 54px;
  background: rgba(38, 38, 38, 1) url('../assets/special-icons/search.png') no-repeat 20px center;
  background-size: 20px;
  color: rgba(144, 161, 185, 1);
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 20px;
}

.search-filter input::placeholder {
  color: rgba(144, 161, 185, 1);
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  line-height: 20px;
}

.search-filter input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgba(144, 161, 185, 1)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}

.search-filter button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  height: 62px;
  border-radius: 16px;
  padding: 0 25px;
  background: rgba(38, 38, 38, 1);
  border: 1px solid rgba(255, 255, 255, 0.4);
  filter: drop-shadow(0px 1px 2px rgba(255, 255, 255, 0.16));
}

.filter-text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: white;
}

.search-filter button img{
  width: 10px;
  height: 5px;
}

/*Cards*/
.cards-container {
  display: grid;
  gap: 60px 32px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1300px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  width: 410px;
  height: 610px;
  border: 1px solid #FFFFFF
}

.card-image {
  background-color: rgba(229, 229, 229, 1);
  width: 100%;
  height: 350px;
  border-radius: 26px 26px 0 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.card-header{
  position: absolute;
  top: 16px;    
  left: 16px;
  right: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-header p {
  height: 35px;
  width: 100px;
  border-radius: 18px;
  margin: 0;
  text-align: center;
  align-content: center;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 0.55px;
  text-transform: uppercase;
}

.card-body {
  height: 253px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.surname {
  height: 33px;
  width: fit-content;
  align-content: center;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}

.name {
  height: 20px;
  width: fit-content;
  align-content: center;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.academic-title {
  height: 33px;
  width: 100%;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-top: 6px;
  color: #3853DE;
}

.start-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.start-date-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90px;
}

.start-date img{
  width: 14px;
  height: 14px;
}

.start-date-title-text{
  height: 12px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.date {
  height: 12px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.projects-label{
  height: 17px;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.55px;
  text-transform: uppercase;
}

.projects-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.project-item {
  height: 29px;
  background-color: white;
  color: black;
  padding: 0 12px;
  border-radius: 15px;
  align-content: center;
  font-family: 'Arial';
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

.card-body button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 8px;
height: 42px;
width: 100%;
background: linear-gradient(180deg, #3853DE 0%, #5B6FE8 100%);
border-radius: 60px;
border: none;
font-family: 'Arial';
font-weight: 700;
font-size: 13px;
line-height: 20px;
letter-spacing: 0.65px;
text-transform: uppercase;
color: #FFFFFF;
}

.card-body button img {
  width: 16px;
  height: 16px;
}

/*кнопки переходу між сторінками */
.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.pagination-previous, .pagination-next {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background 0.2s ease;
  border: 1px solid #000000;
}

.pagination-list{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-list div{
  display: flex;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.pagination-list div button{
  background-color: #000000;
  border: none;
  font-size: 16px;
}
.pagination-list div:hover, .pagination-list div:hover button{
  background-color: #3853DE;
  cursor: pointer;
}