:root {
    --bg-top: #070708;
  --bg-bottom: #0f1113;
    --panel: rgba(255, 255, 255, 0.05);
    --text: #FFFFFF;
}

body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    background: linear-gradient(to bottom, var(--bg-top), var(--bg-bottom));
    color: var(--text);
    margin: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title1 {
    font: Roboto;
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    line-height: 30px;
    text-align: center;
    margin-bottom: 24px;
}

.title2 {
    font: Roboto;
    font-size: 40px;
    font-weight: 500;
    font-style: medium;
    line-height: 30px;
    text-align: center;
    margin-bottom: 24px;
}

.contacts-form {
    margin: 0 auto 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filter{
    width: 100%;
    height: 50px;
    display: flex;
    background: var(--panel);
    border: 1.6px solid white;
    border-radius: 14px;
}

.form {
    width: 800px;
    height: 795px;
    background: var(--panel);
    border: 1.6px solid white;
    border-radius: 28px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form label {
    font-size: 14px;
    font: Arrial, sans-serif;
    font-weight: 400;
    margin-bottom: 8px;
}

.form input,
.form textarea {
    width: 730px;
    height: 50px;
    padding: 12px 16px;
    border: 1.6px solid white;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    align-self: center;
}

.form input::placeholder,
.form textarea::placeholder {
    font-size: 16px;
}

form button {
    width: 730px;
    height: 56px;
    background-color: var(--panel);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    align-self: center;
}
.contact-container {
    width: 800px;
    height: 325px;
    background: var(--panel);
    border: 1.6px solid white;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    padding: 33.6px 33.6px 1.6px 33.6px;
    gap: 10px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


