footer {
    font-family: 'Inter';
}

.footer-main {
    border-top: 2px solid rgba(56, 83, 222, 0.3);
    border-bottom: 2px solid rgba(56, 83, 222, 0.3);
    display: flex;
    justify-content: center;
    padding: 0 21px;
}

.footer-content {
    max-width: 1300px;
    width: 100%;
    margin: 35px 0 51px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-content-column {
    display: flex;
    flex-direction: column;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 255px;
    height: 78px;
    gap: 16px;
}

.logo-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.logo-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo-text {
    max-width: 190px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

.logo-text-title {
    font-size: 16px;
    line-height: 24px;
}

.logo-text-subtitle {
    font-size: 12px;
    line-height: 20px;
}

.social-media {
    height: 28px;
    width: 163px;
    margin-top: 82px;
    display: flex;
    flex-direction: row;
    padding: 0 3px;
    gap: 15px;
}

.social-media a {
    display: block;
    width: 28px;
    height: 28px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.social-media a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.social-media a img:hover {
    opacity: 0;
}

.social-media a.instagram {
    background-image: url('../images/instagram-hover.png');
}

.social-media a.tiktok {
    background-image: url('../images/tiktok-hover.png');
}

.social-media a.facebook {
    background-image: url('../images/facebook-hover.png');
}

.social-media a.linkedin {
    background-image: url('../images/linkedin-hover.png');
}

.footer-useful-links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.footer-useful-links-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.footer-useful-links a {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-useful-links a:hover {
    color: rgba(56, 83, 222, 1);
}

.footer-contacts-title {
    width: 189px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.contact-item {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    text-decoration: none;
}

.contact-item-icon {
    display: block;
    width: 38px;
    height: 38px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-item-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.contact-item-icon.map {
    background-image: url('../images/map-hover.png');
}

.contact-item-icon.mail {
    background-image: url('../images/mail-hover.png');
}

.contact-item-icon.phone {
    background-image: url('../images/phone-hover.png');
}

.contact-item-text {
    width: 207px;
    font-weight: 300;
    font-size: 13.5px;
    line-height: 15px;
    color: rgba(205, 210, 216, 1);
    transition: 0.3s ease;
}

.contact-item:hover .contact-item-text{
    color: rgba(56, 83, 222, 1);
}

.contact-item:hover img {
    opacity: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    padding: 0 21px;
}

.copyright-text {
    margin: 35px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #CDD2D8;
}

@media (max-width: 780px) {
    .footer-content {
        margin-top: 5px;
        flex-direction: column;
        gap: 36px;
        padding-bottom: 0;
    }

    .social-media {
        margin-top: 36px;
    }

    .copyright-text {
        margin: 17px 0;
        font-size: 14px;
    }
}