@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

header {
    width: 1280px;
    height: 69px;
    margin: 40px auto 0 auto;
}

.frame-129 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1280px;
    height: 69px;
    gap: 171px;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 50px;
    gap: 16px;
}

.logo-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo-text a {
    width: 99px;
    height: 36px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
}

.head-center {
    background: #120F0F1A;
    width: 678px;
    height: 69px;
    border-radius: 8px;
    list-style-type: none;
}
.head-center ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22px;
}
.head-center li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
}