@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

header {
    width: 100%;
    height: 69px;
    top: 40px;
    z-index: 10;
}

.frame-129 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 69px;
  position: absolute;
  top: 40px;
  padding: 0 77px;
  gap: 171px;
}

.logo {
    display: flex;
    flex-direction: row;
    width: 165px;
    height: 50px;
    gap: 16px;
}

.logo-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.logo-text a {
    width: 99px;
    height: 36px;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: none;
}

.head-center {
    background: #120F0F1A;
    width: 678px;
    height: 69px;
    border-radius: 8px;
}