header {
    margin-top: 50px;
    position: relative;
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}

.header-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 165px;
    height: 50px;
    gap: 16px;
    text-decoration: none;
}

.header-logo-image {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.header-logo-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.header-logo-text {
    width: 99px;
    height: 36px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0;
    text-transform: uppercase;
}

.menu-wrapper {
        position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 69px;
    background: rgba(18, 15, 15, 0.1);
    border-radius: 88px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px 68px;
}

.menu ul {
    width: 542px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
}

.menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 17px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    list-style: none;
}

.menu li:hover {
    text-shadow: 0.8px 0 0 currentColor;
}

.menu li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

.menu-item-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    display: none;
    width: 20px;
    height: 20px;
    overflow: hidden;
}

.menu-icon img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.menu-li-line {
    display: none;
    margin-top: 8px;
    width: 52px;
    border-top: 2px solid rgba(56, 83, 222, 1);
}

.menu ul li a.active {
    font-weight: 700;
}

.menu ul li a.active+.menu-li-line {
    display: block;
}

.burger-btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 22px;
    height: 22px;
    cursor: pointer;
    z-index: 101;
    margin-left: auto;
    margin-right: 8px;
    border: none;
    background: none;
    padding: 0;
}

.burger-btn span {
    width: 100%;
    height: 3px;
    background-color: #FFFFFF;
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
}

.burger-btn.active span:nth-child(1) {
    transform: translateY(9.5px) rotate(45deg);
}

.burger-btn.active span:nth-child(2) {
    opacity: 0;
    transform: scale(0);
}

.burger-btn.active span:nth-child(3) {
    transform: translateY(-9.5px) rotate(-45deg);
}

@media (max-width: 1100px) {
    .header-logo {
        width: 124px;
        height: 40px;
        gap: 12px;
    }

    .header-logo-image {
        width: 40px;
        height: 40px;
    }

    .header-logo-text {
        width: 72px;
        height: 30px;
        font-size: 12px;
        line-height: 15px;
    }

    .menu {
        height: 60px;
        border-radius: 30px;
        padding: 15px 28px;
    }

    .menu ul {
        width: 422px;
    }

    .menu li {
        height: 14px;
        font-size: 12px;
        line-height: 14px;
    }

    .menu-li-line {
        margin-top: 7px;
        width: 45px;
    }
}

@media (max-width: 870px) {
    header {
        justify-content: space-between;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 40px 23px;
        transition: background-color 0.3s ease;
        z-index: 101;
    }

    header.header-bg-active {
        background-color: rgba(12, 12, 12, 1);
        margin-top: 0;
    }

    .menu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateX(0);
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}

    .menu {
        position: relative;
        width: 100%;
        height: fit-content;
        background: rgba(12, 12, 12, 1);
        flex-direction: column;
        transform: translateY(-100%);
        opacity: 0;
        transition: transform 0.4s ease-in-out, opacity 0.3s ease;
        border-radius: 0 0 14px 14px;
        padding: 0;
        border: none;
        z-index: 99;
        pointer-events: none;
    }

    .menu.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
        gap: 8px;
    }

    .menu li {
        border: 1px solid rgba(255, 255, 255, 0.16);
        border-radius: 14px;
        height: 44px;
        font-size: 14px;
        display: flex;
        align-items: center;
    }

    .menu li a {
        padding-left: 26px;
        display: flex;
        align-items: start;
        justify-content: center;
        border-radius: 14px;
    }

    .menu-icon {
        display: block;
    }

    .menu ul li:has(a.active) {
        background-color: rgba(43, 127, 255, 0.2);
        border: none;
    }

    .menu ul li a.active+.menu-li-line {
        display: none;
    }

    .burger-btn {
        display: flex;
    }
}

@media (max-width: 600px) {
    header {
        padding: 20px 14px;
    }
}