/* Hero Section Styles */
.hero {
    background: linear-gradient(302.51deg, rgba(0, 0, 0, 0.5) 4.3%, rgba(56, 83, 222, 0.5) 25.56%, rgba(0, 0, 0, 0.5) 50.18%, rgba(56, 83, 222, 0.5) 78.49%, rgba(0, 0, 0, 0.5) 101.22%, rgba(56, 83, 222, 0.5) 117.8%);
    width: 100%;
    height: 733px;
    display: flex;
    flex-direction: column;
}

.frame-132 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1280px;
    height: 518px; 
    margin: 70px auto 0 auto;
}

.hero1 {
    display: flex;
    flex-direction: row;
    gap: 74px;
    width: 100%;
    height: 518px;
}

.photo1 {
    width: 543px;
    height: 518px;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 676px;
    height: auto;
    min-height: 362px;
}

.hero-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 676px;
    height: 164px;
}

.hero-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.8);
    width: 635px;
    height: 162px;
}

.line {
    border: 2px solid #3853DE;
    width: auto;
    margin: auto 0 0 0;
}

/* Mission Section Styles */

.mission-section {
    margin: 0;
    height: 932px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.background-image {
    position: absolute;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 100%),
        url('../images/photo_hero.png') center / cover no-repeat;
    z-index: 1;
}

.mission-container {
    width: 1136px;
    height: 772px;
    margin: 80px auto 0 auto;
    z-index: 2;
}

.mission-title-container {
    width: 1136px;
    height: 221px;
    border-radius: 16px;
    border-width: 0.8px;
    background: #00000066;
    border: 0.8px solid rgb(162, 187, 234); 
    /* border-image: linear-gradient(to right, #FFFFFF, #3853DE) 1;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #FFFFFF, #3853DE); */
    box-shadow: 0px 25px 50px -12px #00000040;
}

.frame-196{
    background: linear-gradient(302.51deg, rgba(0, 0, 0, 0.5) 4.3%, rgba(56, 83, 222, 0.5) 25.56%, rgba(0, 0, 0, 0.5) 50.18%, rgba(56, 83, 222, 0.5) 78.49%, rgba(0, 0, 0, 0.5) 101.22%, rgba(56, 83, 222, 0.5) 117.8%);
    width: 100%;
    height: 733px;
    display: flex;
    flex-direction: column;
}

.misiya{
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: #000000;
}

/* Results Section Styles */
.frame-198 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
    min-height: 416px;
}

.frame-155 {
    display: flex;
    flex-direction: column;
    width: 1292px;
    height: 340px;
    margin: 0 auto;
}

.frame-133 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 42px;
}

.results {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
}

.results-line {
    width: 150px;
    height: 0px;
    border-top: 1.5px solid #FFFFFF; 
    flex-shrink: 0;
    margin: 0 auto;
}

.frame-2 {
    width: 100%;
    height: 238px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frame-134 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 295px;
}

.frame-134 .text-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
    margin: auto -25px;
}

.frame-134 .number {
    width: 100%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto 10px auto;
}

.frame-134 .text {
    width: 100%;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto;
}

/* Make Your Contribution Section Styles */
.frame-201 {
    width: 100%;
    height: 615px;
}

.frame-150 {
    width: 1285px;
    height: 100%;
    margin: 0 auto;
}

.bg-blob {
    position: absolute;
    width: 694px;
    height: 615px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgba(56, 83, 222, 0.3);
    filter: blur(100px);
}

.frame-162 {
    width: 100%;
    height: 532px;
    margin-top: 10px;
    position: relative;
}

.group-12 {
    width: 412px;
    height: 42px;
    margin: 0 auto;
}

.group-12-text {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
}

.group-12-line {
    width: 200px;
    height: 0px;
    border-top: 1.5px solid #FFFFFF; 
    flex-shrink: 0;
    margin: 0 auto;
}

.group-17 {
    width: 100%;
    height: 415px;
    margin-top: 75px;
    position: relative;
}

.group-17-text {
    position: absolute;
    right: 0;
    width: 326px;
    height: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
}

.group-16 {
    width: 1097px;
    height: 418px;
    margin-top: 22px;
}

.group-14 {
    justify-self: left;
    width: 490px;
    height: 139.33px;
    display: flex;
    flex-direction: column;
}

.group-13 {
    justify-self: center;
    justify-content: center;
    width: 445px;
    height: 139.33px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.group-15 {
    justify-self: right;
    justify-content: end;
    width: 462px;
    height: 139.33px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.group-1345-text {
    height: 80px;
    left: 0px;
    top: 139px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 11px;
}

.group-1345-line {
    width: 100%;
    border-top: 1px solid #FFFFFF;
}

.more-details-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 45px;
    gap: 10px;
    isolation: isolate;
    position: absolute;
    width: 232px;
    height: 66px;
    left: 0px;
    top: 443px;
    background: #3853DE;
    border-radius: 30px;
}