/* Hero Section Styles */
.hero {
    background: linear-gradient(302.51deg, rgba(0, 0, 0, 0.5) 4.3%, rgba(56, 83, 222, 0.5) 25.56%, rgba(0, 0, 0, 0.5) 50.18%, rgba(56, 83, 222, 0.5) 78.49%, rgba(0, 0, 0, 0.5) 101.22%, rgba(56, 83, 222, 0.5) 117.8%);
    width: 100%;
    height: auto;
    min-height: 733px;
}

.frame-132 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    height: 518px; 
    position: absolute; 
    top: 179px;
    padding: 0 77px;
}

.hero1 {
    display: flex;
    flex-direction: row;
    gap: 74px;
    width: 100%;
    height: 518px;
}

.photo1 {
    width: 543px;
    height: 518px;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 676px;
    height: auto;
    min-height: 362px;
}

.hero-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0;
    color: #FFFFFF;
    width: 676px;
    height: 164px;
}

.hero-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.8);
    width: 635px;
    height: 162px;
}

.line {
    border: 2px solid #3853DE;
    width: auto;
    margin-top: 733px;
}

/* Mission Section Styles */

.mission-section {
    top: 733px;
    height: 932px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.background-image {
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 100%),
        url('../images/photo_hero.png') center / cover no-repeat;
    z-index: 1;
}