body {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
/* Main Section Styles */
.main {
    background: linear-gradient(302.51deg, rgba(0, 0, 0, 0.5) 4.3%, rgba(56, 83, 222, 0.5) 25.56%, rgba(0, 0, 0, 0.5) 50.18%, rgba(56, 83, 222, 0.5) 78.49%, rgba(0, 0, 0, 0.5) 101.22%, rgba(56, 83, 222, 0.5) 117.8%);
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #3853DE;
    align-items: center;
    padding: 0 30px;
}

.main-content {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    width: 100%;
    gap: 74px;
    margin: 70px 0 40px;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 676px;
    width: 100%;
}

.main-content-title {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0;
}

.main-content-description {
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.8);
}

.main-content-photo {
    max-width: 543px;
    width: 100%;
}

.main-content-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 900px) {
    .main {
        padding: 0 23px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
        margin: 65px 0 20px;
        gap: 30px;
    }

    .main-content-text {
        gap: 30px
    }

    .main-content-title {
        font-size: 51px;
        line-height: 61px;
    }

    .main-content-description {
        font-size: 18px;
        line-height: 28px;
    }

    .main-content-photo {
        max-width: 443px;
    }
}

@media (max-width: 600px) {
    .main {
        padding: 0 14px;
    }

    .main-content {
        margin: 60px 0 0;
        gap: 16px;
    }

    .main-content-text {
        gap: 24px
    }

    .main-content-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
    }

    .main-content-description {
        font-size: 16px;
        line-height: 24px;
    }

    .main-content-photo {
        max-width: 373px;
    }
}

/* Mission Section Styles */
.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    gap: 60px;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42px;
}

.section-title-text {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.section-title-line {
    width: 100px;
    height: 0px;
    border-top: 1.5px solid #FFFFFF;
}

.background-image {
    position: absolute;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: 
        linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.5) 100%),
        url('../images/photo_hero.png') center / cover no-repeat;
    z-index: 1;
}

.mission-container {
    width: 1136px;
    height: 772px;
    margin: 80px auto 0 auto;
    z-index: 2;
}

.mission-title-container {
    width: 1136px;
    height: 221px;
    border-radius: 16px;
    border-width: 0.8px;
    background: #00000066;
    border: 0.8px solid rgb(162, 187, 234); 
    /* border-image: linear-gradient(to right, #FFFFFF, #3853DE) 1;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #FFFFFF, #3853DE); */
    box-shadow: 0px 25px 50px -12px #00000040;
}

.frame-196{
    background: linear-gradient(302.51deg, rgba(0, 0, 0, 0.5) 4.3%, rgba(56, 83, 222, 0.5) 25.56%, rgba(0, 0, 0, 0.5) 50.18%, rgba(56, 83, 222, 0.5) 78.49%, rgba(0, 0, 0, 0.5) 101.22%, rgba(56, 83, 222, 0.5) 117.8%);
    width: 100%;
    height: 733px;
    display: flex;
    flex-direction: column;
}

.misiya{
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: #000000;
}

/* Results Section Styles */
.frame-198 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; 
    min-height: 536px;
}

.frame-155 {
    display: flex;
    flex-direction: column;
    width: 1292px;
    height: 340px;
    margin: 0 auto;
}

.frame-133 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 42px;
}

.results {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
}

.results-line {
    width: 150px;
    height: 0px;
    border-top: 1.5px solid #FFFFFF; 
    flex-shrink: 0;
    margin: 0 auto;
}

.frame-2 {
    width: 100%;
    height: 238px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frame-134 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 295px;
}

.frame-134 .text-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
    margin: auto -25px;
}

.frame-134 .number {
    width: 100%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto 10px auto;
}

.frame-134 .text {
    width: 100%;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto;
}

/* Successful Cases Section Styles */
.frame-200 {
    width: 100%;
    height: 1153px;
}

.frame-199 {
    width: 1286px;
    height: 696px;
    margin: 0 auto;
}

.frame-138 {
    width: 323px;
    height: 42px;
    margin: 0 auto;
}

.frame-138-text {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
}

.frame-138-line {
    width: 150px;
    height: 0px;
    border-top: 1.5px solid #FFFFFF; 
    flex-shrink: 0;
    margin: 0 auto;
}

.frame-160 {
    margin-top: 20px;
    height: 594px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.frame-159 {
    height: 100%;
    width: 492px;
    flex-direction: column;
}

.frame-159-logo {
    width: 449px;
    height: 459px;
    margin: 0 auto;
}

.frame-159-text {
    width: 404px;
    height: 114px;
    margin: 0 auto;
    font-family: 'Inter';
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

.frame-159-text h1 {
    font-size: 48px;
    font-weight: 500;
}

.frame-159-text h2 {
    font-size: 28px;
    font-weight: 500;
}

.frame-158 {
    height: 547px;
    width: 737px;
    flex-direction: column;
    margin-top: 47px;
}

.frame-169 {
    height: 360px;
    width: 100%;
}

.frame-169-title {
    width: 100%;
    height: 84px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.frame-169-text {
    width: 100%;
    height: 252px;
    margin-top: 24px;
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
}

.more-details-button1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 232px;
    height: 66px;
    margin-top: 77px;
    background: #3853DE;
    border-radius: 30px;
}

/* Make Your Contribution Section Styles */
.frame-201 {
    width: 100%;
    height: 615px;
}

.frame-150 {
    width: 1285px;
    height: 100%;
    margin: 0 auto;
}

.bg-blob {
    position: absolute;
    width: 694px;
    height: 615px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgba(56, 83, 222, 0.3);
    filter: blur(100px);
}

.frame-162 {
    width: 100%;
    height: 532px;
    margin-top: 10px;
    position: relative;
}

.group-12 {
    width: 412px;
    height: 42px;
    margin: 0 auto;
}

.group-12-text {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
}

.group-12-line {
    width: 200px;
    height: 0px;
    border-top: 1.5px solid #FFFFFF; 
    flex-shrink: 0;
    margin: 0 auto;
}

.group-17 {
    width: 100%;
    height: 415px;
    margin-top: 75px;
    position: relative;
}

.group-17-text {
    position: absolute;
    right: 0;
    width: 326px;
    height: 90px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
}

.group-16 {
    width: 1097px;
    height: 418px;
    margin-top: 22px;
}

.group-14 {
    justify-self: left;
    width: 490px;
    height: 139.33px;
    display: flex;
    flex-direction: column;
}

.group-13 {
    justify-self: center;
    justify-content: center;
    width: 445px;
    height: 139.33px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.group-15 {
    justify-self: right;
    justify-content: end;
    width: 462px;
    height: 139.33px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.group-1345-text {
    height: 80px;
    left: 0px;
    top: 139px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    margin-bottom: 11px;
}

.group-1345-line {
    width: 100%;
    border-top: 1px solid #FFFFFF;
}

.more-details-button2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    isolation: isolate;
    position: absolute;
    width: 232px;
    height: 66px;
    top: 443px;
    background: #3853DE;
    border-radius: 30px;
}

.more-details-text {
    width: 102px;
    height: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left: 45px;
    margin-right: 10px;
}

.more-details-icon {
    width: 30px;
    height: 30px;
    background: #D9D9D9;
    border-radius: 15px;
    position: relative;
}

.more-details-arrow {
    width: 20px;
    height: 20px;
    margin: 5px;
}