body {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

/* Section Styles */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    gap: 60px;
    position: relative;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42px;
}

.section-title-text {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.section-title-line {
    height: 0px;
    border-top: 1.5px solid #FFFFFF;
}

.section-title-line.w-100 {
    width: 100px;
}

.section-title-line.w-150 {
    width: 150px;
}

.section-title-line.w-200 {
    width: 200px;
}

@media (max-width: 900px) {
    section {
        padding: 0 23px;
    }

    .section-title-text {
        font-size: 32px;
        line-height: 32px;
        margin: 0 0 8px 0;
    }

    .section-title-line.w-100 {
        width: 75px;
    }

    .section-title-line.w-200 {
        width: 175px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 0 14px;
    }

    .section-title {
        height: 31px;
    }

    .section-title-text {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 5px 0;
    }

    .section-title-line.w-100 {
        width: 50px;
    }

    .section-title-line.w-200 {
        width: 150px;
    }
}

/* More Details Button Styles */
.more-details-button {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 232px;
    height: 66px;
    background: #3853DE;
    border-radius: 33px;
}

.more-details-button.successful-section {
    margin-top: 77px;
}

.more-details-button.myc-section {
    position: absolute;
    bottom: 23px;
}

.more-details-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.more-details-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.more-details-icon {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 30px;
    height: 30px;
    background: #D9D9D9;
    border-radius: 15px;
}

.more-details-icon img {
    width: 10px;
    height: 10px;
    object-fit: contain;
}

@media (max-width: 900px) {
    .more-details-button {
        width: 210px;
        height: 57px;
        border-radius: 28px;
    }

    .more-details-text {
        font-size: 14px;
        line-height: 27px;
    }

    .more-details-icon {
        width: 26px;
        height: 26px;
        border-radius: 13px;
    }
}

@media (max-width: 600px) {
    .more-details-button {
        width: 188px;
        height: 47px;
        border-radius: 23px;
    }

    .more-details-text {
        align-content: center;
        font-size: 12px;
        line-height: 24px;
    }

    .more-details-icon {
        width: 22px;
        height: 22px;
        border-radius: 11px;
    }
}

/* Main Section Styles */
.main {
    background: linear-gradient(302.51deg, rgba(0, 0, 0, 0.5) 4.3%, rgba(56, 83, 222, 0.5) 25.56%, rgba(0, 0, 0, 0.5) 50.18%, rgba(56, 83, 222, 0.5) 78.49%, rgba(0, 0, 0, 0.5) 101.22%, rgba(56, 83, 222, 0.5) 117.8%);
    border-bottom: 2px solid #3853DE;
}

.main-content {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    width: 100%;
    gap: 74px;
    margin: 10px 0 40px;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    gap: 36px;
    max-width: 696px;
    width: 100%;
}

.main-content-title {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0;
}

.main-content-description {
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0;
    color: rgba(255, 255, 255, 0.8);
}

.main-content-photo {
    max-width: 543px;
    width: 100%;
}

.main-content-photo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 900px) {
    .main-content {
        flex-direction: column;
        align-items: center;
        margin: 0 0 20px;
        gap: 30px;
    }

    .main-content-text {
        gap: 30px
    }

    .main-content-title {
        font-size: 51px;
        line-height: 61px;
    }

    .main-content-description {
        font-size: 18px;
        line-height: 28px;
    }

    .main-content-photo {
        max-width: 443px;
    }
}

@media (max-width: 600px) {
    .main-content {
        gap: 16px;
        margin: 0;
    }

    .main-content-text {
        gap: 24px
    }

    .main-content-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
    }

    .main-content-description {
        font-size: 16px;
        line-height: 24px;
    }

    .main-content-photo {
        max-width: 373px;
    }
}

/* Mission Section Styles */
.mission-bg-blob {
    position: absolute;
    width: 280px;
    height: 280px;
    border-radius: 70%;
    background: rgba(56, 83, 222, 0.3);
    filter: blur(40px);
}

.mission-bg-blob.left {
    left: -86px;
    top: 0px;
}

.mission-bg-blob.right {
    right: 10px;
    top: 206px;
}

.mission-content {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    gap: 36px;
}

.mission-description {
    max-width: 974px;
    width: 100%;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    letter-spacing: 0;
    z-index: 1;
}

.mission-description-items {
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 60px;
}

.mission-image {
    max-width: 654px;
    width: 100%;
    height: 545px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(56, 83, 222, 0.1), rgba(56, 83, 222, 0.1)), url(../images/mission-image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mission-image.small-screen {
    display: none;
}

.mission-description-items ul {
    display: flex;
    flex-direction: column;
    max-width: 566px;
    width: 100%;
    gap: 52px;
    list-style: none;
}

.mission-description-items ul li {
    border-left: 1px solid white;
    padding-left: 24px;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
}

.mission-item-title {
    font-weight: 600;
}

.mission-item-description {
    font-weight: 300;
}

@media (max-width: 1260px) {
    .mission-bg-blob {
        display: none;
    }

    .mission-description-items {
        gap: 10px;
    }

    .mission-image {
        max-width: 500px;
        height: 416px;
    }
}

@media (max-width: 1040px) {
    .mission-description-items {
        gap: 20px;
    }

    .mission-image {
        max-width: 346px;
        height: 288px;
    }
}

/* Results Section Styles */
.frame-2 {
    width: 1300px;
    height: 238px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frame-134 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 295px;
}

.frame-134 .text-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
    margin: auto -25px;
}

.frame-134 .number {
    width: 100%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto 10px auto;
}

.frame-134 .text {
    width: 100%;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto;
}

/* Successful Cases Section Styles */
.frame-199 {
   max-width: 1300px;
   width: 100%;
   display: flex;
   flex-direction: row;
}

.frame-159 {
    width: 492px;
    display: flex;
    flex-direction: column;
}

.frame-159-logo {
    width: 449px;
    height: 459px;
    margin: 0 auto;
}

.frame-159-text {
    width: 404px;
    height: 114px;
    margin: 0 auto;
    font-family: 'Inter';
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

.frame-159-text h1 {
    font-size: 48px;
    font-weight: 500;
}

.frame-159-text h2 {
    font-size: 28px;
    font-weight: 500;
}

.frame-158 {
    height: 547px;
    width: 737px;
    flex-direction: column;
    margin-top: 47px;
}

.frame-169 {
    height: 360px;
    width: 100%;
}

.frame-169-title {
    width: 100%;
    height: 84px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.frame-169-text {
    width: 100%;
    height: 252px;
    margin-top: 24px;
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
}

/* Make Your Contribution Section Styles */
.myc-content {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    position: relative;
}

.bg-blob {
    position: absolute;
    width: 694px;
    height: 615px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgba(56, 83, 222, 0.3);
    filter: blur(100px);
    z-index: -1;
}

.myc-content-description {
    top: 15px;
    position: absolute;
    right: 0;
    width: 326px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
}

.myc-content ul {
    display: flex;
    flex-direction: column;
    max-width: 1097px;
    width: 100%;
    gap: 80px;
    list-style: none;
    padding: 0;
}

.myc-content ul li {
    width: fit-content;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    padding-bottom: 11px;
    border-bottom: 1px solid #FFFFFF;
}