*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial;
}
/*Кнопки для фільтрування*/
.frame-233{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0 80px;
}
.group-22{
  position: relative;
  width: 1065px;
  height: 62px;
  opacity: 1;
  border-radius: 16px;
  border-width: 1px;
  background: #262626;
  border: 1px solid #FFFFFF66;
  box-shadow: 0px 1px 2px 0px #FFFFFF29;
  font-size: 20px;
  background-image: url('../images/Icon\ dandruff.svg');
  background-position: 10px center; 
  background-repeat: no-repeat;
  background-size: 20px; 
  padding-left: 40px; 
}
.group-21{
  position: relative;
  align-items: center;
  width: 200px;
  height: 62px;
  border-radius: 16px;
  opacity: 1;
  margin-left: 1%;
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  background-color: #2b2b2b;
  border: 1px solid #FFFFFF66;
}
.group-21 img{
  margin-left: 64px;
}
/* За фільтрацією нічого не знайдено */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0 120px;
}
.frame-234{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1281px;
    height: 212px;
    border-radius: 16px;
    border-width: 1px;
    padding: 10px;
    opacity: 1;
    background: #262626;
    border: 1px solid #FFFFFF66
}
.frame-234 div{
    width: 397px;
    height: 88px;
    opacity: 1;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: center;
}