body {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

@media (max-width: 900px) {
    body {
        gap: 90px;
    }
}

@media (max-width: 600px) {
    body {
        gap: 60px;
    }
}

/* Section Styles */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    gap: 60px;
    position: relative;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 42px;
}

.section-title-text {
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0%;
    line-height: 30px;
    margin: 0 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.section-title-line {
    height: 0px;
    border-top: 1.5px solid #FFFFFF;
}

.section-title-line.w-100 {
    width: 100px;
}

.section-title-line.w-150 {
    width: 150px;
}

.section-title-line.w-200 {
    width: 200px;
}

@media (max-width: 900px) {
    section {
        padding: 0 23px;
        gap: 45px;
    }

    .section-title-text {
        font-size: 32px;
        line-height: 32px;
        margin: 0 0 8px 0;
    }

    .section-title-line.w-100 {
        width: 75px;
    }

    .section-title-line.w-200 {
        width: 175px;
    }
}

@media (max-width: 600px) {
    section {
        padding: 0 14px;
        gap: 30px;
    }

    .section-title {
        height: 31px;
    }

    .section-title-text {
        font-size: 24px;
        line-height: 24px;
        margin: 0 0 5px 0;
    }

    .section-title-line.w-100 {
        width: 50px;
    }

    .section-title-line.w-200 {
        width: 150px;
    }
}

/* More Details Button Styles */
.more-details-button {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 232px;
    height: 66px;
    background: #3853DE;
    color: white;
    border-radius: 33px;
    border: none;
    transition: 0.3s ease;
}

.more-details-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.more-details-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}

.more-details-icon {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 30px;
    height: 30px;
    background: #D9D9D9;
    border-radius: 15px;
    transition: 0.3s ease;
}

.more-details-icon img {
    width: 10px;
    height: 10px;
    object-fit: contain;
    transition: 0.3s ease;
}

.more-details-button:hover {
    background: white;
    color: black;
}

.more-details-button:hover .more-details-icon {
    background: black;
}

.more-details-button:hover img {
    filter: brightness(0) invert(1);
}

@media (max-width: 900px) {
    .more-details-button {
        width: 200px;
        height: 50px;
        border-radius: 25px;
    }

    .more-details-text {
        font-size: 14px;
        line-height: 27px;
    }

    .more-details-icon {
        width: 26px;
        height: 26px;
        border-radius: 13px;
    }

    .more-details-icon img {
        width: 9px;
        height: 9px;
    }
}

@media (max-width: 600px) {
    .more-details-button {
        width: 188px;
        height: 47px;
        border-radius: 23px;
    }

    .more-details-text {
        align-content: center;
        font-size: 12px;
        line-height: 24px;
    }

    .more-details-icon {
        width: 22px;
        height: 22px;
        border-radius: 11px;
    }

    .more-details-icon img {
        width: 8px;
        height: 8px;
    }
}