.myc-content {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 100%;
    position: relative;
}

.bg-blob {
    position: absolute;
    width: 694px;
    height: 615px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background: rgba(56, 83, 222, 0.3);
    filter: blur(100px);
    z-index: -1;
}

.myc-content-description {
    top: 15px;
    position: absolute;
    right: 0;
    width: 326px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
}

.myc-content-adaptation {
    display: none;
}

.myc-content ul {
    display: flex;
    flex-direction: column;
    max-width: 1097px;
    width: 100%;
    gap: 60px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.myc-content ul li {
    width: fit-content;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 80px;
    line-height: 91px;
    border-bottom: 1px solid #FFFFFF;
}

.more-details-button.myc-section {
    position: absolute;
    bottom: 5px;
}

@media (max-width: 900px) {
    .myc-section {
        gap: 46px;
    }

    .bg-blob {
        width: 494px;
        height: 455px;
    }

    .myc-content-description {
        width: 250px;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
    }

    .myc-content ul {
        gap: 40px;
    }

    .myc-content ul li {
        font-size: 40px;
        line-height: 52px;
    }

    .more-details-button.myc-section {
        bottom: 0;
    }
}

@media (max-width: 600px) {
    .myc-section {
        gap: 32px;
    }

    .bg-blob {
        display: none;
    }

    .myc-content-description.big-screen {
        display: none;
    }

    .myc-content ul {
        gap: 20px;
    }

    .myc-content ul li {
        font-size: 24px;
        line-height: 34px;
    }

    .more-details-button.myc-section.big-screen {
        display: none;
    }

    .myc-content-adaptation {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .myc-content-description {
        width: 100%;
        position: relative;
        top: 0;
        text-align: left;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
    }

    .more-details-button.myc-section {
        position: relative;
    }
}