/* Results Section Styles */
.frame-2 {
    width: 1300px;
    height: 238px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.frame-134 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 295px;
}

.frame-134 .text-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110px;
    margin: auto -25px;
}

.frame-134 .number {
    width: 100%;
    height: 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto 10px auto;
}

.frame-134 .text {
    width: 100%;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin: 0 auto;
}
