.results {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.result-half {
    max-width: 630px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.result-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 235px;
    gap: 12px;
    flex: 1;
    max-width: 295px;
    width: 100%;
    min-width: 230px;
    padding: 0 10px;
}

.result-card::before,
.result-card::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 25px;
    border: 1px solid #3853DE;
}

.result-card::before {
    left: 0;
    border-right: none;
}

.result-card::after {
    right: 0;
    border-left: none;
}

.result-number,
.result-text {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.result-number {
    font-size: 70px;
    line-height: 70px;
}

.result-text {
    font-size: 24px;
    line-height: 24px;
}

@media (max-width: 900px) {
    .result-card {
        height: 188px;
    }

    .result-number {
        font-size: 53px;
        line-height: 53px;
    }

    .result-text {
        font-size: 22px;
        line-height: 30px;
    }
}

@media (max-width: 600px) {
    .result-card {
        height: 140px;
    }

    .result-number {
        font-size: 36px;
        line-height: 36px;
    }

    .result-text {
        font-size: 20px;
        line-height: 30px;
    }
}