.results {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 295px;
    width: 100%;
}

.result-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
    margin: 0 -20px;
}

.result-number {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.result-text {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
    background: linear-gradient(90deg, #FFFFFF 0%, #3853DE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}