/* Successful Cases Section Styles */
.frame-199 {
   max-width: 1300px;
   width: 100%;
   display: flex;
   flex-direction: row;
}

.frame-159 {
    width: 492px;
    display: flex;
    flex-direction: column;
}

.frame-159-logo {
    width: 449px;
    height: 459px;
    margin: 0 auto;
}

.frame-159-text {
    width: 404px;
    height: 114px;
    margin: 0 auto;
    font-family: 'Inter';
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}

.frame-159-text h1 {
    font-size: 48px;
    font-weight: 500;
}

.frame-159-text h2 {
    font-size: 28px;
    font-weight: 500;
}

.frame-158 {
    height: 547px;
    width: 737px;
    flex-direction: column;
    margin-top: 47px;
}

.frame-169 {
    height: 360px;
    width: 100%;
}

.frame-169-title {
    width: 100%;
    height: 84px;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.frame-169-text {
    width: 100%;
    height: 252px;
    margin-top: 24px;
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
}

.more-details-button.successful-section {
    margin-top: 77px;
}

.successful-cases-cards {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.successful-case-card {
    max-width: 393.3px;
    width: 100%;
    border: 1.6px solid #3853DE;
    box-shadow: 5px 6px 10px rgba(255, 255, 255, 0.25);
    border-radius: 28px;
    padding: 34px 36px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
}

.successful-case-card-image {
    width: 100px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
}

.successful-case-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.successful-case-card-title {
    width: 200px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}

.successful-case-card-description {
    margin-top: 20px;
    max-width: 275px;
    width: 100%;
    min-width: 175px;
    height: 110px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease;
}

.successful-case-card button {
    margin-top: 27px;
    border-radius: 0px;
    border: none;
    background: none;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #3853DE;
    transition: 0.3s ease;
}

.successful-case-card:hover {
    background: rgba(56, 83, 222, 0.8);
}

.successful-case-card:hover .successful-case-card-description {
    color: white;
}

.successful-case-card:hover button{
    color: white;
}