.successful-content {
    display: flex;
    flex-direction: row;
    gap: 71px;
    max-width: 1300px;
    width: 100%;
}

.successful-left {
    max-width: 492px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.successful-left-logo {
    max-width: 449px;
    width: 100%;
    margin: 0 auto;
}

.successful-left-logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.successful-left-text-title,
.successful-left-text-subtitle {
    font-family: 'Inter';
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    font-weight: 500;
}

.successful-left-text-title {
    font-size: 48px;
}

.successful-left-text-subtitle {
    font-size: 28px;
}

.successful-right {
    max-width: 737px;
    width: 100%;
    flex-direction: column;
    padding-top: 35px;
}

.successful-right-title {
    width: 100%;
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.successful-right-description {
    width: 100%;
    margin: 24px 0 77px;
    font-family: 'Manrope';
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
}

.successful-cases-cards {
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.successful-case-card {
    max-width: 386.7px;
    width: 100%;
    border: 1.6px solid #3853DE;
    box-shadow: 5px 6px 10px rgba(255, 255, 255, 0.25);
    border-radius: 28px;
    padding: 34px 36px 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
}

.successful-case-card-image {
    width: 100px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
}

.successful-case-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.successful-case-card-title {
    max-width: 200px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
}

.successful-case-card-description {
    margin-top: 20px;
    max-width: 275px;
    width: 100%;
    min-width: 175px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s ease;
}

.successful-case-card button {
    margin-top: 27px;
    border-radius: 0px;
    border: none;
    background: none;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #3853DE;
    transition: 0.3s ease;
}

.successful-case-card:hover {
    background: rgba(56, 83, 222, 0.8);
}

.successful-case-card:hover .successful-case-card-description {
    color: white;
}

.successful-case-card:hover button {
    color: white;
}

@media (max-width: 1250px) {
    .successful-content {
        gap: 30px;
    }

    .successful-left {
        max-width: 400px;
    }

    .successful-left-logo {
        max-width: 350px;
    }

    .successful-left-text-title {
        font-size: 38px;
    }

    .successful-left-text-subtitle {
        font-size: 24px;
    }

    .successful-right-title {
        font-size: 28px;
    }

    .successful-right-description {
        margin-bottom: 40px;
        font-size: 18px;
        line-height: 32px;
    }
}

@media (max-width: 1150px) {
    .successful-cases-cards {
        gap: 30px;
    }
}

@media (max-width: 960px) {
    .successful-cases-cards {
        flex-direction: column;
        align-items: center;
    }

    .successful-case-card {
        max-width: 375px;
        padding: 30px 25px 19px;
    }

    .successful-case-card-description {
        max-width: 325px;
    }
}

@media (max-width: 960px) {
        .successful-content {
    gap: 20px
    }
}

@media (max-width: 600px) {
    .successful-content {
    flex-direction: column;
    }

    .successful-left {
        margin: 0 auto;
    }

    .successful-left-logo {
    max-width: 256px;
    }

    .successful-left-text-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
}

    .successful-left-text-subtitle {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
}

    .successful-case-card {
        max-width: 300px;
        padding: 25px 19px 25px;
    }

    .successful-case-card-image {
        width: 96px;
        height: 96px;
        border: 1px solid #FFFFFF;
    }

    .successful-case-card-title {
        font-size: 20px;
        line-height: 28px;
    }

    .successful-case-card-description {
        margin-top: 16px;
    }

    .successful-case-card button {
        margin-top: 25px;
        line-height: 16px;
    }
}